
.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline, .css-8ewcdo-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline, .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline, .css-1q6at85-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #8036de !important;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected{
    color:#8036de !important;
}

.css-1aquho2-MuiTabs-indicator, .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected{
    background-color:#8036de24 !important;
}
.css-1gsv261{
    border:none !important;
}
.css-heg063-MuiTabs-flexContainer{
    justify-content:space-around;
}

.css-ueukts-MuiButtonBase-root-MuiToggleButton-root.Mui-selected{
    color:#fff !important;
    background-color:#8036de !important;
}

.css-1gjgmky-MuiToggleButtonGroup-root .MuiToggleButtonGroup-grouped{
    border-radius:4px !important;
    min-width:55px;
    border-left:1px solid rgba(0, 0, 0, 0.12) !important;
}