/* .linkadd .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected, .linkadd .css-1c2i806-MuiFormLabel-root-MuiInputLabel-root.Mui-focused, .linkadd .css-h0q0iv-MuiButtonBase-root-MuiTab-root.Mui-selected{
    color: #121212 !important; 
}

.linkadd .css-1a1fmpi-MuiInputBase-root-MuiInput-root:after, .linkadd .css-g9cew8-MuiInputBase-root-MuiInput-root:after{
    border-bottom:2px solid #ff9090;
}

.css-1aquho2-MuiTabs-indicator, .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected{
    background-color:#f5705924 !important;
}

.linkadd .css-1aquho2-MuiTabs-indicator, .linkadd 
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected, .linkadd .css-h0q0iv-MuiButtonBase-root-MuiTab-root.Mui-selected{
    background-color:#3d3d3d24 !important;
}

.linkadd .css-h0q0iv-MuiButtonBase-root-MuiTab-root{
    min-height:50px;
}

.linkadd .css-1h9z7r5-MuiButtonBase-root-MuiTab-root, .linkadd .css-h0q0iv-MuiButtonBase-root-MuiTab-root.Mui-selected{
    font-weight:700;
} */

.css-1gsv261{
    border:none !important;
}
.css-heg063-MuiTabs-flexContainer{
    justify-content:space-around;
}

.css-1gjgmky-MuiToggleButtonGroup-root .MuiToggleButtonGroup-grouped{
    border-radius:4px !important;
    min-width:55px;
    border-left:1px solid rgba(0, 0, 0, 0.12) !important;
}