@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;500;600;700;800;900&display=swap'); */

@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaijaan|Ubuntu');

@import '../public/font/css/general-sans.css';

.App {
  text-align: center;
}

.variable {
  font-family: 'GeneralSans-Variable', sans-serif !important;
}

::-moz-selection {
  background: rgb(255, 167, 151);
  color: #fff;
}

::-webkit-selection {
  background: rgb(255, 167, 151);
  color: #fff;
}

::selection {
  background: rgb(255, 167, 151);
  color: #fff;
}

.App-logo {
  height: 120vmin;
  pointer-events: none;
}

body *:not(i, svg){
    font-family: 'GeneralSans-Variable', sans-serif !important;
}

body{
  overflow-x:hidden;
}



body::-webkit-scrollbar,
.cusscroller::-webkit-scrollbar, div .walletconnect-qrcode__base::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

body::-webkit-scrollbar-track,
.cusscroller::-webkit-scrollbar-track, div .walletconnect-qrcode__base::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb,
.cusscroller::-webkit-scrollbar-thumb, div .walletconnect-qrcode__base::-webkit-scrollbar-thumb {
  background-color: rgb(219, 219, 219);
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb:hover,
.cusscroller::-webkit-scrollbar-thumb:hover,
div .walletconnect-qrcode__base::-webkit-scrollbar-thumb:hover {
  background-color: rgb(190, 190, 190);
}

.mg-all>*{
  margin-right:5px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

div .walletconnect-qrcode__text{
  font-size:16px;
}

div .walletconnect-modal__base{
  max-width:400px;
  top:55%;
}

div .walletconnect-qrcode__base{
  overflow-y:scroll;
  overflow-x:hidden;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.gridTemplate{
    grid-template-columns: repeat(auto-fill, minmax(410px, 1fr));
}

@media only screen and (max-width: 1000px){
  .gridTemplate{
      grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }
}